body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-7xl: 26px;
  --font-size-11xl: 30px;

  /* Colors */
  --color-whitesmoke: #f1f1f1;
  --color-white: #fff;
  --color-black: #000;

  /* Border radiuses */
  --br-31xl: 50px;
  --br-xs: 12px;
}
