{% load static %}   

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login form</title>
  <link rel="stylesheet" href="{% static 'style/aao.css' %}">
  <!-- <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>  -->
</head>
<body>
{% csrf_token %}
    <nav id="nav">
        <ul>
            <li><img id="logo" src="{% static 'image/img.png' %}" alt=""></li>
            <li class="item"><a href="#" target="_blank">Add Operators</a></li>
            <li class="item"><a href="#" target="_blank">Add Plans</a></li>
            <li class="item"><a href="#" target="_blank">Add Offers Us</a></li>
            <li class="item"><a href="#" target="_blank">View Operator</a></li>
            <li class="item"><a href="#" target="_blank">View Users</a></li>
            <li class="item"><a href="#" target="_blank">View Transactions</a></li>
            <li class="item"><a href="#" target="_blank">Logout</a></li>
        </ul>
    </nav>

    <body id="body2">
        <div class="hero">
            <form id="info" action="add_operator" method="post"  class="input-group">
                {% csrf_token %}
                <input type="text" name="Mobile_Operator_Name" class="input-field" placeholder="Operator Name" required>
                <input type="text" name="Description" class="input-field" placeholder="Description/Website" required>
            </form>

            <form action="add_operator" method="post" class="subm">
                {% csrf_token %}
                <button type="submit" class="submit-btn">Add Operator</button>
            </form> 

            <div id="image-container">
                <input name = "img" type="file" accept="image/*" multiple>
                <button onclick="uploadImage()" class="upload">Upload Image</button>

                <script>
                    function uploadImage() {
                        var fileInput = document.querySelector('input[type="file"]');
                        var file = fileInput.files[0];

                        var reader = new FileReader();

                        reader.onload = function() {
                            var imageUrl = reader.result;
                            document.getElementById('image-container').innerHTML = `<img src="${imageUrl}" alt="Uploaded Image">`;
                        };

                        reader.readAsDataURL(file);
                    }
                </script> 
            </div>
        </div>
    </body>
</html>
