<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Operator</title>
  <!-- <link rel="stylesheet" href="E:\Django\Try1\try\Templates\aao.css">  -->
</head>
<body>
{% csrf_token %}

<form action="add_operator" method="post">
    {% csrf_token %}
    <input type="text" name="Mobile_Operator_Name" placeholder="Mobile Operator Name"> <br>  <br>
    <input type="text" name="Description" placeholder="Description"> <br>  <br>

    <!-- <input type="file" name="image" accept="image/*">

    <input type="submit" value="Upload Image"> -->

    <!-- <input type="file" name="image" accept="image/*"> <br>  <br> -->

<input type="file" name="image" accept="image/*" onchange="displayUploadedImage(event)">

<img id="uploaded-image" src="" alt="">

<style>
    #uploaded-image {
      width: 200px;
      height: 200px;
    }
</style>
  

<script>
function displayUploadedImage(event) {
  var uploadedImage = document.getElementById('uploaded-image');

  uploadedImage.src = URL.createObjectURL(event.target.files[0]);
}
</script>
<br> <br>

    <input type="Submit" value="Add Operator"> <br> <br>
</form>



</body>
</html>