<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>

<body>
    <form action="postsign" method="post">
        {% csrf_token %}

        <h1> ......    Welcome {{name}}    ......</h1>


        <!-- <h1> ......    Welcome    ......</h1> -->

        <!-- <input type="tel" name="mobile" placeholder="Enter Mobile Number" pattern="[0-9]{10}"> <br>  <br> -->

       <input type="Submit" value="SignIn"> 

       <!-- Admin Side -->
       <button type="button" onclick="location.href = '{% url 'add_operator'  %}'">Add Operator</button>
       <button type="button" onclick="location.href = '{% url 'add_plan'  %}'"> Add Plan</button>
       <button type="button" onclick="location.href = '{% url 'add_offer'  %}'"> Add Offer</button>
       <button type="button" onclick="location.href = '{% url 'view_operator'  %}'"> View Operator</button>
       <button type="button" onclick="location.href = '{% url 'view_user'  %}'"> View User</button>

        <br> <br>

       <!-- User Side  -->
       <button type="button" onclick="location.href = '{% url 'signup'  %}'"> Sign Up</button>
       <button type="button" onclick="location.href = '{% url 'recharge_now'  %}'"> Recharge Now</button>

       <button type="button" onclick="location.href = '{% url 'offers'  %}'"> View Offers </button>
       
    </form>
</body>
</html> 