<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login form</title>
    <link rel="stylesheet" href="https://firebasestorage.googleapis.com/v0/b/mobile-recharge-a2f5b.appspot.com/o/hand8.png?alt=media&token=605b302d-68e4-4fba-91ce-469a1d0716c1&_gl=1*1768cwu*_ga*OTkxMjk3ODExLjE2OTg4NDcyNjc.*_ga_CW55HF8NVT*MTY5OTA4OTE1MS4yMi4xLjE2OTkwOTE0MDguNjAuMC4w">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> 
    <style>   
      .center-heading {
        text-align: center;
      }
      body {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/mobile-recharge-a2f5b.appspot.com/o/img2.jpg?alt=media&token=4c1682a5-b556-4f59-9d11-0ecb0087a8c8&_gl=1*kua4gu*_ga*OTkxMjk3ODExLjE2OTg4NDcyNjc.*_ga_CW55HF8NVT*MTY5OTA4OTE1MS4yMi4xLjE2OTkwOTI1NzMuNTguMC4w');
      }
    </style>
  </head>
<body>
    <nav id="nav">
        <ul>
            <li><img id="logo" src="https://firebasestorage.googleapis.com/v0/b/mobile-recharge-a2f5b.appspot.com/o/hand8.png?alt=media&token=605b302d-68e4-4fba-91ce-469a1d0716c1&_gl=1*1768cwu*_ga*OTkxMjk3ODExLjE2OTg4NDcyNjc.*_ga_CW55HF8NVT*MTY5OTA4OTE1MS4yMi4xLjE2OTkwOTE0MDguNjAuMC4w" alt=""></li>
            <li class="item"><a href="#" target="_blank">About Us</a></li>
            <li class="item"><a href="#" target="_blank">Contact Us</a></li>
        </ul>
    </nav>

    <body id="body2">
        <div class="hero">         
            <div class="form-box">
                <h1>Signup</h1>
                <h1>Welcome to Fiber</h1>
                <form id="mobile" class="input-group">
                    <input type="text" name="name" class="input-field" id="name" placeholder="Name" required>
                    <input type="text" name="mobile" class="input-field" id="mobilenumber" placeholder="Mobile Number" required>
                </form>
                <form class="drop">
                  <label for="operator" style="font-size: 20px;">Select Operator :</label>
                  <select name="Mobile_Operator" id = "lang" required>
                      <option value="">select</option>
                      {% for op_name in list_data %}
                          <option value="{{op_name}}">{{op_name}}</option>
                      {% endfor %}
                  </select>
              </form>
              <form class="input-group">
                    <input type="text" name="email" class="input-field" id="email" placeholder="Email-ID" required>
                    <input type="date"  name="Date_Of_Birth"  class="input-field" id="dob" placeholder="DOB" required>
              </form>
              <form class="drop">
                <label for="gender">Select Gender</label>
                <select name="gender" id="lang">
                  <option name="gender" value="select">Select your gender</option>
                  <option name="gender" value="male">Male</option>
                  <option name="gender"  value="female">Female</option>
                  <option name="gender" value="rns">Rather not say</option>
                </select>
              </form>
              <form class="input-group" action="postsignup" method="post">
                <input type="text" class="input-field" name="Address"  id="address" placeholder="Address" required>
                <button type="button" class="submit-btn">Sign up</button>
              </form>
                <li class="login"><a href="#" targer="_blank">Already have an account? Log-In</a></li>
                </form>
            </div>
        </div>
        
    </body>
</html>
