<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login form</title>
    <link rel="stylesheet" href="https://firebasestorage.googleapis.com/v0/b/mobile-recharge-a2f5b.appspot.com/o/signup.css?alt=media&token=f3fc7d55-b9cb-4d65-8cdb-72ce702d16ad&_gl=1*yzu4r3*_ga*OTkxMjk3ODExLjE2OTg4NDcyNjc.*_ga_CW55HF8NVT*MTY5OTE3MzU4OS4yNC4xLjE2OTkxNzQxMTIuNDQuMC4w">
    <!-- <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>  -->
    <style>
            .center-heading {
              text-align: center;
            }
        body {
          background-image: url('https://firebasestorage.googleapis.com/v0/b/mobile-recharge-a2f5b.appspot.com/o/img2.jpg?alt=media&token=4c1682a5-b556-4f59-9d11-0ecb0087a8c8&_gl=1*kua4gu*_ga*OTkxMjk3ODExLjE2OTg4NDcyNjc.*_ga_CW55HF8NVT*MTY5OTA4OTE1MS4yMi4xLjE2OTkwOTI1NzMuNTguMC4w');
        }
    </style>
   
</head>
<body>
{% csrf_token %}

    <nav id="nav">
        <ul>
            <li><img id="logo" src="https://firebasestorage.googleapis.com/v0/b/mobile-recharge-a2f5b.appspot.com/o/img.png?alt=media&token=45f46265-f227-4da7-9a31-4c9a49c0605c&_gl=1*1tw7apa*_ga*OTkxMjk3ODExLjE2OTg4NDcyNjc.*_ga_CW55HF8NVT*MTY5OTA4OTE1MS4yMi4xLjE2OTkwOTE2NDMuMzEuMC4w" alt=""></li>
            <li class="item"><a href="#" target="_blank">About Us</a></li>
            <li class="item"><a href="#" target="_blank">Contact Us</a></li>
        </ul>
    </nav>

    <body id="body2">
        <div class="hero">
            <div class="hand", style="text-align: left;">
                <img src="https://firebasestorage.googleapis.com/v0/b/mobile-recharge-a2f5b.appspot.com/o/hand8.png?alt=media&token=605b302d-68e4-4fba-91ce-469a1d0716c1&_gl=1*1768cwu*_ga*OTkxMjk3ODExLjE2OTg4NDcyNjc.*_ga_CW55HF8NVT*MTY5OTA4OTE1MS4yMi4xLjE2OTkwOTE0MDguNjAuMC4w"  alt="">                       
            </div>

            <div class="form-box">
                <h1><span class="center-heading">Signup</span></h1>
                <h1>Welcome to Fiber</h1>
                    {% csrf_token %}
                <form id="mobile" class="input-group">
                    <input type="text" name="name" class="input-field" id="name" placeholder="Name" required>
                    <input type="text" name="mobile" class="input-field" id="mobilenumber" placeholder="Mobile Number" required>
                </form>

                <form class="drop">
                    <label for="operator" style="font-size: 20px;">Select Operator :</label>
                    <select name="Mobile_Operator" id = "lang" required>
                        <option value="">select</option>
                        {% for op_name in list_data %}
                            <option value="{{op_name}}">{{op_name}}</option>
                        {% endfor %}
                    </select>
                </form>

              <form id="mobile" class="input-group">
                    
                    <input type="text" name="email" class="input-field" id="email" placeholder="Email-ID">
                    <p>Birth Date :- </p>
                    <input type="date" name="Date_Of_Birth" class="input-field" id="dob" placeholder="DOB">
                    <label for="Gender" style="font-size: 20px;"> Gender :</label>
                    <!-- <input type="text" class="input-field" id="gender" placeholder="Gender (M/F)"> -->
                    <input type="radio" name="gender" value="male" checked>Male
                     <input type="radio" name="gender" value="female">Female
                    <input type="text" name="Address" class="input-field" id="address" placeholder="Address">
    
              </form>
              <!-- <button type="button" class="submit-btn">Sign up</button> -->

                <li class="signup"><a href="#" targer="_blank">Already have an account? Log-In</a></li>

            </form>
            </div>
        </div>
        
    </body>
</html>
