<div class="bg-white flex flex-col">
    <div class="self-stretch flex w-full flex-col pb-28 max-md:max-w-full">
      <div
        class="bg-neutral-800 self-stretch flex w-full flex-col pr-5 max-md:max-w-full"
      >
        <div class="self-center w-full max-w-[1857px] max-md:max-w-full">
          <div
            class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0"
          >
            <div
              class="flex flex-col items-stretch w-[13%] max-md:w-full max-md:ml-0"
            >
              <img
                loading="lazy"
                srcset="..."
                class="aspect-[1.81] object-cover object-center w-full overflow-hidden grow max-md:mt-10"
              />
            </div>
            <div
              class="flex flex-col items-stretch w-[87%] ml-5 max-md:w-full max-md:ml-0"
            >
              <div class="flex flex-col my-auto max-md:max-w-full max-md:mt-10">
                <div
                  class="self-center flex w-full max-w-[1589px] items-start justify-between gap-5 max-md:max-w-full max-md:flex-wrap max-md:justify-center"
                >
                  <div class="text-white text-3xl font-bold">Add Operator</div>
                  <div class="text-white text-3xl font-bold my-auto">
                    Add Plans
                  </div>
                  <div class="text-white text-3xl font-bold">Add Offers</div>
                  <div
                    class="text-white text-3xl font-bold self-stretch w-[244px]"
                  >
                    View Operator
                  </div>
                  <div class="text-white text-3xl font-bold my-auto">
                    View Users
                  </div>
                  <div
                    class="text-white text-3xl font-bold self-center max-w-[313px] grow shrink-0 basis-auto my-auto"
                  >
                    View Transactions
                  </div>
                  <div
                    class="text-white text-3xl font-bold self-start whitespace-nowrap"
                  >
                    Logout
                  </div>
                </div>
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/09924f8b-260c-42b2-bd9e-83208671aed0?"
                  class="aspect-[42.6] object-cover object-center w-[213px] stroke-[5px] stroke-red-500 overflow-hidden max-w-full grow mt-3 self-start"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="self-center flex mb-0 w-[550px] max-w-full flex-col mt-36 max-md:mt-10 max-md:mb-2.5"
      >
        <div
          class="text-neutral-400 text-3xl self-stretch bg-zinc-300 pt-8 pb-6 px-5 whitespace-nowrap max-md:max-w-full max-md:pl-2.5"
        >
          Operator name
        </div>
        <div
          class="text-neutral-400 text-3xl self-stretch bg-zinc-300 mt-7 pt-8 pb-6 px-5 whitespace-nowrap max-md:max-w-full max-md:mr-1 max-md:pl-2.5"
        >
          Description/Website
        </div>
        <div
          class="bg-zinc-300 self-center flex w-[293px] max-w-full flex-col mt-16 pt-28 pb-28 px-5 max-md:mt-10"
        >
          <div
            class="text-neutral-400 text-3xl self-center mb-0 whitespace-nowrap max-md:mb-2.5"
          >
            Upload
          </div>
        </div>
        <div
          class="text-white text-3xl font-bold self-center bg-black w-[244px] max-w-full grow mt-24 pl-4 pr-5 py-5 rounded-[33px] whitespace-nowrap max-md:mt-10"
        >
          Add Operator
        </div>
      </div>
    </div>
  </div>