{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operaotrs</title>
    <link rel="stylesheet" href="https://firebasestorage.googleapis.com/v0/b/mobile-recharge-a2f5b.appspot.com/o/aao.css?alt=media&token=1d285b75-c41c-4257-928a-d39540965768&_gl=1*tqi9wh*_ga*OTkxMjk3ODExLjE2OTg4NDcyNjc.*_ga_CW55HF8NVT*MTY5OTA4OTE1MS4yMi4xLjE2OTkwODk0ODcuNDUuMC4w">
    <!-- <body style="background-color: yellow;"> -->
    <!-- <body style="background-image: url('https://miro.medium.com/v2/resize:fit:828/format:webp/1*ZhuqSg8Jmz4p8H6X5U1uzQ.png');"> -->

      <style>

        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
      </style>
</head>

<body>
{% csrf_token %}


<!-- <h1 style="color: rgb(128, 0, 255);">Operators</h1> -->

<table >
{% csrf_token %}
<nav id="nav">
  <ul>
      <li><img id="logo" src="https://firebasestorage.googleapis.com/v0/b/mobile-recharge-a2f5b.appspot.com/o/img.png?alt=media&token=45f46265-f227-4da7-9a31-4c9a49c0605c&_gl=1*1lm2smt*_ga*OTkxMjk3ODExLjE2OTg4NDcyNjc.*_ga_CW55HF8NVT*MTY5OTA4OTE1MS4yMi4xLjE2OTkwODkzNDYuOC4wLjA." alt=""></li>
      <li class="item"><a href="#" target="_blank">Add Operators</a></li>
      <li class="item"><a href="#" target="_blank">Add Plans</a></li>
      <li class="item"><a href="#" target="_blank">Add Offers Us</a></li>
      <li class="item"><a href="#" target="_blank">View Operator</a></li>
      <li class="item"><a href="#" target="_blank">View Users</a></li>
      <li class="item"><a href="#" target="_blank">View Transactions</a></li>
      <li class="item"><a href="#" target="_blank">Logout</a></li>
  </ul>
</nav>
<br><br>

    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Logo</th>
        </tr>
    </thead>


    <tbody>

        {% for item in list_data %}

        <tr>
          <td>{{ item.0 }}</td>
          <td><a href="{{ item.1 }}" target="_blank" style="color: blue;">{{ item.1 }}</a></td>
          <td><img src="{{ item.2 }}" width = 150 alt=""></td>
        </tr>
        
        {% endfor %}
        
    </tbody>

</table> 
</body>
</html>