<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
{% csrf_token %}

<center><h1>Sign In</h1></center>

<center>
    <br><br><br>
<form action="otp" method="post">
{% csrf_token %}

    
<label for="">Email : - </label>
<input type="email" name="email" id=""  required ><br><br>

    <label for="">Mobile Number : - </label>
    <input type="tel" id="mobileNumber" name="phone_number" placeholder="Enter Mobile Number" pattern="[0-9]{10}" required>
    <br><br>
    <input type="submit" value="submit"><br>

</form>

<p>New User? <a href="{% url 'login' %}">Sign Up</a></p>

</center>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>