<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offers</title>
</head>
<body>
{% csrf_token %} 
    <table>
        {% csrf_token %} 
        <thead>
            <tr>
                <th>Mobile Operator</th>
                <th>Description</th>
                <th>Offer_Name</th>
                <th>Offer_Type</th>
                <th>Validity</th>
            </tr>
        </thead>
        
            <!-- <tbody>
                {% for item in list_data %}
        
                    <tr>
                    <td>{{ item.0 }}</td>
                    <td>{{ item.1 }}</td>
                    <td>{{ item.2 }}</td>
                    <td>{{ item.3 }}</td>
                    </tr>
                    
                {% endfor %}
            </tbody> -->
        
        </table>
</body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html> -->