@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
*{
    box-sizing: border-box;
}
body{
    align-items: center ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #ffffff;
    font-family: 'momserrat',sans-serif;
    min-height: 100%;
    margin: 10%;
}

.container{
    position: relative;
    width: 968px;
    max-width: 100%;
    min-height: 560px;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22)
}

/*.leftdesign{
    width: 13%;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(to left, #22d3ff, #190faa);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22)

}
*/

/*.rightdesign{
    width: 13%;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: linear-gradient(to right, #190faa, #22d3ff);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22)

}
*/

/*.blue-dot-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-image: radial-gradient(circle, #22d3ff 20px, transparent 5px, transparent 5px);
    background-size: 60px 80px;
}
*/

.sign-up, .sign-in{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-up{
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.sign-in{
    width: 50%;
    z-index: 2;
}

form{
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;

}

h1{
    font-weight: bold;
    margin: 0;

}

p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 15px 0 20px;
}

input{
    background: #eee;
    padding: 12px 15px;
    margin: 8px 15px;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
}

a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button{
    color: #fff;
    background: #1e97cf;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 55px;
    margin: 20px;
    border-radius: 20px;
    border: 1px solid #1e97cf;
    outline: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in-out;
    cursor: pointer;
}

button:active{
    transform: scale(0.90);
}

#signIn, #signUp{
    background-color: transparent;
    border: 2px solid #fff;
}

.container.right-panel-active .sign-in{  
    transform: translateX(100%);
}

.container.right-panel-active .sign-up{  
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}

.overlay{
    position: relative;
    color: #fff;
    background: #201db4;
    left: -100%;
    height: 100%;
    width: 200%;
    background: linear-gradient(to right, #190faa, #22d3ff);
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay{
    transform: translateX(50%);
}

.overlay-left, .overlay-right{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left{
    transform: translateX(-20%);
}
.overlay-right{
    right: 0;
    transform: translateX(0%);
}

.container.right-panel-active .overlay-left{
    transform: translateX(0%);
}

.container.right-panel-active .overlay-right{
    transform: translateX(20%);
}

.social-container{
    margin: 20px 0;
}

.social-container a{
    height: 40px;
    width: 40px;
    margin: 0 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 50%;
}