*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#logo{
    width: 150px;
    height: 100px;
    margin-left: 10px;
}

body{
    overflow: hidden;
}

#nav{
    display: flex;
    align-items: center;
    position: relative;
    background-color: rgb(0, 0, 0);
    top: 0x;
    height: 80px;
    
}

#nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.item{
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 15px;
}
.item a{
    padding: 10px;
    margin: 15px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin:48px;
    text-align: center;
    color: white;
    text-align: center;
}

#img{
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 40px;
    text-decoration: none;
    cursor: pointer;
    
}

a {
    color: #fff;
   
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: #F46B40;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after { 
    width: 100%; 
    left: 0; 
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}   

.form-box{
    width: 100%;
    height: 600px;
    background: #fff;
    overflow: hidden;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 20px;

}

.input-field::placeholder{
    color: #5c5c5c;
}

.input-group{
    color: #fff;
    position: absolute;
    width: 350px;
    margin-bottom: 600px;
}
.input-field{
    width: 100%;
    height: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border: none;
    outline: none;
    border: 2px solid rgb(0, 0, 0);
    background: #ffffff;
    border-radius: 28px;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 20px;
}

.submit-btn{
    color: #fff;
    font-size: 20px;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin-top: 50px;
    margin-left: 100px;
    background: #000000;
    border: 0;
    outline: none;
    border-radius: 30px;
}



input {
  margin-top: 400px;
}

.upload{
    margin-top: 400px;
}

#image-container {
    margin-top: 5px;
    margin-right: 0px;
    width: 400px;
    height: 400px;
    border: 1px solid #ccc;
}

.subm{
    margin-top: 600px;
    margin-right: 400px;
}